body
{
   background-color: rgb(5, 86, 152); 

}
h1
{
    display:flex;
    align-items: center;
    justify-content: center;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
 font-size: 500%;
}
form
{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
}
#result
{
display: flex;
align-items: center;
    justify-content: center;
    font-size: 300%;
    color: rgb(22, 110, 22);
    text-shadow: 2px 2px 2px rgb(9, 227, 9);
    padding: 2px;
}
#label
{
    color:blue;
    text-shadow: 2px 2px 2px rgb(13, 167, 209);
}